<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inducesmile.androidquizadminpanel">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.inducesmile.androidquizadminpanel.lightquiz.LightQuiz"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LaunchActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginOptionActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeFullScreen"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeFullScreen"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SignUpActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeFullScreen"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".HomeActivity"
            android:label="@string/complete_quiz"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuizHomeActivity"
            android:launchMode="singleTop"
            android:label="@string/complete_quiz"
            android:theme="@style/AppThemeFullScreen"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name=".QuizResultActivity"
            android:label="@string/complete_quiz"
            android:screenOrientation="portrait"/>
        <activity android:name=".ProfileActivity"
            android:label="@string/complete_quiz"
            android:screenOrientation="portrait"/>
        <activity android:name=".QuizCategoryActivity"
            android:label="@string/complete_quiz"
            android:screenOrientation="portrait"/>
        <activity android:name=".HelpActivity"
            android:label="@string/complete_quiz"
            android:screenOrientation="portrait"/>

        <activity android:name="com.inducesmile.androidquizadminpanel.lightquiz.MainActivity"
            android:label="@string/complete_quiz"
            android:screenOrientation="portrait"/>
        <activity android:name="com.inducesmile.androidquizadminpanel.lightquiz.PlayGame"
            android:label="@string/complete_quiz"
            android:screenOrientation="portrait"/>
        <activity android:name="com.inducesmile.androidquizadminpanel.lightquiz.GameOver"
            android:label="@string/complete_quiz"
            android:screenOrientation="portrait"/>
        <activity android:name=".ForgotPasswordActivity"
            android:label="@string/complete_quiz"
            android:theme="@style/AppThemeFullScreen"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
    </application>

</manifest>